.container {
	position: relative;
	flex: 1;
	/*display: flex;*/
	padding: 0 20px;
	height: 100%;
	overflow: hidden;
	background-image: url("../../assets/images/map.jpg");
	/*background-repeat: repeat;*/
}
