:root {
	--color-white: #ffffff;
	--color-blue-100: #eef8fb;
	--color-blue-200: #79c6ec;
	--color-blue-300: #42a5f5;
	--color-blue-400: #242a3a;
	--color-gray: #e1e1e1;
	--color-red: #e74c3c;
	--font-size-100: 14px;
	--font-size-200: 16px;
	--font-size-300: 18px;
	--font-size-400: 24px;
	--font-size-500: 32px;
	--font-size-600: 36px;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-family: "R", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #3e4968;
}

#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#modalWarning {
	height: 0;
	overflow: hidden;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
	border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

input,
button,
textarea,
select {
	margin: 0;
	font-family: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: var(--color-blue-300);
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.leaflet-routing-container {
	display: none !important;
}
